body{
  background: image-url("bg-new.jpg") repeat left top
}
#main-content{
  background: #fff;
  min-height: 650px;
  border-radius: 6px;
  padding: 8px;
  border: 2px solid #ededed;
  box-shadow: 10px 10px 5px #888888;
}
